---
import { Image } from "astro:assets";
import Mockup from "../assets/images/Mockup.webp";
---

<section class="pt-44 bg-beige">
  <Image src={Mockup} class="w-full" alt="Book mockup" />
</section>
