---

---

<section
  class="flex items-end justify-end px-4 py-4 md:flex items-end justify-end bg-beige"
>
  <div class="max-w-lg">
    <p class="font-secondary text-xs font-light">
      <strong>Contrast Display</strong> is an elegant and modern display font with
      a high contrast between thick and thin lines, giving it a sharp and exclusive
      look. Its slender serifs and high optical size create a dramatic and eye-catching
      design that challenges typographic norms. The font is ideal for large displays,
      where it exudes luxury and sophistication.
    </p>
  </div>
</section>
