---

---

<section class="bg-beige font-primary pt-48 pb-48">
  <h2 class="text-3xl pb-12 pl-4 leading-tight md:text-4xl pl-48 leading-tight">
    <span>invite freedom. </span>
    <span>invite play. </span>
    <span>invite elegance. </span>
  </h2>
  <h2
    class="text-3xl pb-24 px-4 leading-tight flex items-end justify-end md:text-4xl flex items-end justify-end pr-44"
  >
    No matter how you go about it.
  </h2>
  <h2 class="text-3xl pl-4 leading-tight md:text-4xl pl-48 leading-tight">
    Contrast display is about challenging the boundaries and think out of the
    box
  </h2>
</section>
