---

---

<section class="bg-beige font-primary pt-48 pb-48">
  <h2 class="text-3xl pb-12 pl-4 leading-tight md:text-4xl pl-44 leading-tight">
    <span>INVITE FREEDOM. </span>
    <span>INVITE PLAY. </span>
    <span>INVITE ELEGANCE. </span>
  </h2>
  <h2
    class="text-3xl pb-24 px-4 leading-tight flex items-end justify-end md:text-4xl flex items-end justify-end pr-44"
  >
    NO MATTER HOW YOU GO ABOUT IT.
  </h2>
  <h2 class="text-3xl pl-4 leading-tight md:text-4xl pl-44 leading-tight pr-32">
    CONTRAST DISPLAY IS ABOUT CHALLENGING THE BOUNDARIES AND THINK OUTSIDE THE
    BOX.
  </h2>
</section>
